--extra-index-url https://download.pytorch.org/whl/cu128
fastapi
uvicorn
websockets
matplotlib
scipy
Pillow
numpy
torch
transformers
sumy
yake
sentencepiece
tiktoken
protobuf

# Testing
pytest
pytest-cov
httpx
rouge-score
